body {
  margin: 10px;
}

p {
  color: orange;
}

/* Selecting with an id (from Basic Selectors) */
#products {
  margin-top: auto;
}

/* Selecting with a class (styling element from Basic Selectors) */
.product {
  color: bisque;
}


