<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Media Queries</title>
  </head>
  <body>
    <div class="container">
      <div class="box">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias harum
          ipsum voluptatum similique fuga perferendis quas ipsam repellat
          facilis placeat quidem, molestias accusamus deleniti voluptatem minus
          odit architecto. Ipsam, a?
        </p>
      </div>
      <div class="box">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium
          possimus atque, ab, ut hic dicta quasi itaque ratione culpa architecto
          nemo expedita porro. Aspernatur dignissimos repellat sed nobis dicta
          suscipit.
        </p>
      </div>
    </div>
  </body>
</html>
