<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Overflowing</title>
</head>
<body>
    <div class="box">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil perferendis earum asperiores in quidem est a corporis laboriosam ipsa. Odio facere pariatur eligendi, iusto ipsam odit quis totam perspiciatis adipisci!</p>
    </div>
</body>
</html>